.box{
    border: 1px solid red;
    padding: 20px;
    width:100%;
    /* background-image: url('bricks.jpg'); */
    height: 100vh;
    padding-top: 20%;
    font-size: 25px;
    text-align: center;
    color: white;
    /* background-attachment: fixed; */
    background: red url('bricks.jpg') no-repeat fixed
}

.title{
    font-style: italic;
    font-size: 2em;
    font-variant: historical-ligatures;
    font-weight: 700;
    font-family: cursive;
}
a:link, a:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }

  div.ex1 {
    width:500px;
    margin: auto;
    border: 3px solid #73AD21;
  }
  
  div.ex2 {
    max-width:500px;
    margin: auto;
    border: 3px solid #73AD21;
  }
  .positioning{
      position: static;
  }
  .flex-box{
      display: flex;
      
  }

  .card{
    border: 1px solid red;
    height: 50px;
    padding: 20px
  }